#search_results {
  list-style-type: none;
  position: relative; }
  #search_results li {
    padding: 10px; }

.item_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  display: block; }

.item_link {
  color: #0E774A;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%; }

.delete_btn {
  position: absolute;
  right: 0;
  height: 24px;
  padding: 6px 12px;
  -webkit-border-radius: 3px;
  background-color: red;
  text-decoration: none;
  color: white;
  margin-right: 6px; }

#search_results li:nth-child(odd) {
  background: #eee; }
